.MainSectiony {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.search-filter {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-filter input {
    border: none;
    padding: 8px;
    flex: 1;
    outline: none;
}

.search-filter button {
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 19px;
    cursor: pointer;
    
}

.search-filter button i {
    font-size: 29px;
}
