/* Top navigation code to organize navigation items*/



* {
  font-family: "Raleway";
  /* font-optical-sizing: auto; */
  font-weight: 300;
  font-style: normal;
  /* padding-top: 5px; */
}

body{
  margin:auto;
  /* padding: auto; */
}

nav {
  /* padding: 10px 0; */
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 10px;
  /* width: 85px; */
  height: 55px;
  margin-left: 3%;
  padding-bottom: 20px;
}

nav ul {
  /* padding-top: 10px; */
  list-style-type: none;
  margin-right: 4%;
}

nav ul li {
  display: inline-block;
  /* margin: 12px 12px; */
  /* padding-top: 10px; */
  

}

nav ul li:hover {
  border-top: 1px solid #0065FC;
  border-width: 3px;
  color: #0065FC;
  /* padding-bottom: -5px; */

  .AccomLink {
    color: #0065FC;
    margin-top: 32px;

  }

  .ActiLink {
    color: #0065FC;
    margin-top: 32px;

  }

}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin: 35px;
  display: inline-block;
  /* padding-top: 15px; */
}

/* Top heading style that is Find a place for your dream vacation */

.content-1 {
  font-size: 25px;
  color: black;
  font-weight: 600;
  padding-left: 5%;
}

/* Sub heading style that is Downtown or in nature */
.content-2 {
  color: #5a5757;
  font-size: large;
  font-weight: 300;
  margin-left: 5%;
}

/* Filter section form organized  */
#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
}

/* Search icon before search box organized with different style */
/* i = tag. To be more specific */

i.map-dot {
  color: black;
  /* height: 20px; */
}


.fa-location-dot {
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 30px;
  /* background-color: rgb(186, 181, 181); */
  background-color: #F2F2F2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40px;
  /* padding-left: 20px; */
  /* border-color: rgb(239, 244, 235); */
  /* border: 0.5px solid #c4a7a7; */
  /* color: black; */
}



/* searh button is designed  */
button {
  width: 110px;
  height: 60px;
  /* background-color: #0a3aea; */
  background-color: #0065FC;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0.5px solid #9fc5f3;
  font-size: large;
  font-weight: bold;

}

/* hide search icon in regular view */
.fas {
  display: none;
}



/* Four filter icon circle style buttons style  */
.FilterIconCircleButton {
  height: 60px;
  width: 60px;
  border-radius: 55%;
  /* background-color: rgb(131, 188, 246); */
  background-color: #DEEBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: -20px; */
}

/* 4 different filters organized into a form so added some style */

.FilterTitle {
  margin-right: 40px;
  font-size: large;
  padding-top: 10px;
  font-weight: bold;
}

.filter-area-1 {

  display: flex;
  gap: 20px;
}

.info-icon-frame {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* background-color: rgb(131, 188, 246); */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: -20px; */
  border: 0.5px solid #D9D9D9;
  /* margin-right: 1opx; */
}

i.info-icon {
  /* font-weight: 100px; */
  font-size: small;
  background-color: white;
  color: #0065FC;
  padding: 15%;

}

.Form-1 {
  padding-top: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
}



/* Top search box organized with style  */

input[type=text] {
  font-size: 20px;
  height: 17px;
  /* border: 0.5px solid #190303; */
  padding: 20px;
  margin-top: 10px;
  border-radius: 0;
  border-color: #F2F2F2;
}

/* .fas{
  display: none;
} */

/* Added style when move hover for both search and text boxes */
input[type="text"]:hover {
  border: 1px solid black;
}


input[type="search"]:hover {
  border: 1px solid black;
}

/* Four filter search boxes added some style  */
input[type=search] {
  margin-top: 10px;
  font-size: 16px;
  color: rgba(9, 8, 8, 0.802);
  border: #0b0a0a;
  background: transparent;
  padding-left: 15px;
  height: 30px;
  width: 135px;
  border-radius: 28px;
  align-items: center;
}

/* .fa-search{
  display: none;
} */
/* place holder text style for top search bar placeholder text */
.search-input-1::placeholder {
  color: black;
  /* font-weight: 600; */
  font-weight: bold;
}

/* .search-input-1{
font-size: xx-large;
font-weight: bold;

} */

/* place holder text style for bottom search bar placeholder text*/

.search-input2 {
  color: black;
  /* font-weight: 600; */
  font-weight: 500;
  margin-left: 10px;
  font-size: large;
  font-weight: 700;
}

/* there are 4 filter sections and organized their secitons into one div so some style applied  */

.FilterSearchContainer-1:hover{
  background-color: #F2F2F2;
}
.FilterSearchContainer-2:hover{
  background-color: #F2F2F2;
}
.FilterSearchContainer-3:hover{
  background-color: #F2F2F2;
}
.FilterSearchContainer-4:hover{
  background-color: #F2F2F2;
}

.FilterSearchContainer-1 {
  width: 160px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  border-top-right-radius: 28px;
  /* margin-left: -20px; */
  background: white;
  border: 1px solid #D9D9D9;
  /* padding-left: -50px; */
}

.FilterSearchContainer-2 {
  width: 215px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  border-top-right-radius: 28px;
  /* margin-left: -20px; */
  background: white;
  border: 1px solid #D9D9D9;
  /* padding-left: -50px; */
}

.FilterSearchContainer-3 {
  width: 165px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  border-top-right-radius: 28px;
  /* margin-left: -20px; */
  background: white;
  border: 1px solid #D9D9D9;
  /* padding-left: -50px; */
}

.FilterSearchContainer-4 {
  width: 195px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  border-top-right-radius: 28px;
  /* margin-left: -20px; */
  background: white;
  border: 1px solid #D9D9D9;
  /* padding-left: -50px; */
}

.SearchResultsCountText {
  padding-left: 20px;
  display: flex;
  margin-left: 3%;
  padding-top: 30px;
}

/* i.info-icon{
  color: white;
  padding: 20px;
} */

.Morethan500Text {
  color: #5a5757;
  font-size: large;
  font-weight: 400;
  margin-left: 10px;
  
}

.firstgridtoptext {
  /* position: absolute; */
  font-size: x-large;
  padding-top: 50px;
  font-weight: 700;
  padding-bottom: 2%;
  padding-left: 5%;
}

.firstgridtoptext2 {
  /* position:absolute; */
  font-size: large;
  padding-top: 30px;
  font-weight: 800;
  /* padding-left: 5%; */

}

.ResultsHeading-3 {
  font-size: x-large;
  padding-left: 7%;
  padding-top: 3%;
  font-weight: 600;
}


/* .FirstFlexColumnOne,
.FirstFlexColumnTwo,
.FirstFlexColumnThree {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
} */

.accommodation-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 4%;
}

.FirstGridContainer {
  /* display: flex; */
  /* padding: 2%; */
  /* align-self: self-start; */
  /* column-gap: 10px; */
  /* background-color: rgba(90, 96, 96, 0.11); */
  background-color: #F2F2F2;
  border-radius: 20px;
  /* height: 650px; */
  /* margin-left: 2%; */
  /* width: 70%; */
}



.FirstFlexFirstImageSet,
.FirstFlexSecondImageSet,
.FirstFlexThirdImageSet,
.FirstFlexFourthImageSet,
.FirstFlexFifthImageSet,
.FirstFlexSixthImageSet {
  background-color: white;
  border-style: groove;
  border-color: rgb(244, 232, 232);
  border-width: 1px;
  border-radius: 20px;
  padding: 5px;
  width: 250px;
  height: 210px;
}

.FirstGridImage-1,
.FirstGridImage-2,
.FirstGridImage-3,
.FirstGridImage-4,
.FirstGridImage-5,
.FirstGridImage-6 {
  width: 520px;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}


/* first grid href's design  */
.Hrefclass-1, .Hrefclass-2,.Hrefclass-3,.Hrefclass-4{
  color: black;
  
}

.Hrefclass-1:hover {
  text-decoration: none;
  color: black;
}

.Hrefclass-2:hover {
  text-decoration: none;
  color: black;
}

.Hrefclass-3:hover {
  text-decoration: none;
  color: black;
}

.Hrefclass-4:hover {
  text-decoration: none;
  color: black;
}




/* Flex-2 code */

.Secondgridtoptext {
  font-size: 25px;
  display: inline-block;
  padding-top: 8%;
  padding-left: 20px;
  font-weight: 700;
  padding-right: 175px;
}

/* .fa-fw{
  padding-left: 275px;
} */



.fa-solid {
  /* color: rgba(30, 56, 227, 0.821); */
  color: #0065FC;
}

.fa-regular {
  /* color: #999; */
  background: #D9D9D9;
}

.SecondGridContainer {
  /* background-color: rgba(90, 96, 96, 0.11);*/
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-left: 15px;
  /* height: 720px; */
  width: 350px;
  /* padding: 20px; */
  /* row-gap: auto; */
  /* column-gap: auto; */
}


.SecondFlexRowOne {

  display: flex;
  flex-direction: column;
  gap: 30px;

}


.SecondFlexFirstSet,
.SecondFlexSecondSet,
.SecondFlexThirdSet {
  display: flex;
  background-color: white;
  border-style: groove;
  border-color: white;
  border-width: 1px;
  border-radius: 19px;
  margin-left: 20px;
  /* margin-top: 45px; */
  width: 360px;
  height: 150px;
  margin-right: 20px;
}

.SecondFlexRowOneImage-1,
.SecondFlexRowOneImage-2,
.SecondFlexRowOneImage-3 {
  display: flex;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 140px;
  height: 130px;
  padding: 3%;
  object-fit: cover;
}


.heading2 {
  display: flex;
  font-size: small;
  width: 100%;
  /* padding: 3px; */
  padding-top: 10%;
  padding-left: 3%;
}

.heading1 {
  padding-top: 10%;
  font-weight: 700;
  padding-left: 2%;
  /* font-size: 200; */
}

.FirstGrid-heading1 {
  font-weight: 600;
  font-size: large;
  /* padding-top: 5%; */
  padding-left: 3%;
  margin: 0;
}

.FirstGrid-heading2 {
  font-weight: 300;
  font-size: medium;
  padding-left: 3%;
  /* margin:0; */
}

.SecondGridStars {
  padding: 10px;
}

.stars-class {
  padding-left: 3%;
}

/* firstandsecond together code */
.firstandsecondtogether {
  display: flex;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
}



.ThirdGridContainer {
  /* padding-left: 30px; */
  display: flex;
  max-height: none;
  width: 92%;
  column-gap: 50px;
  /* margin-left: 3%; */
  border-radius: 15px;
  margin-bottom: 5%;
  margin:auto;
  /* margin-left: 10%; */
}



.ColumnOne,
.ColumnTwo,
.ColumnThree,
.ColumnFour {
  padding-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-color: #999;
  height: max-content;
}



.ColumnTwo,
.ColumnFour {
  display: flex;
  flex-direction: column;
}

.bottomimage-1,
.bottomimage-2,
.bottomimage-3,
.bottomimage-4,
.bottomimage-5,
.bottomimage-6 {
  display: flex;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 410px;
  object-fit: cover;
  margin-left: 0.5%;
  /* margin-right: 1%; */
}


.bottomimage-2 {
  height: 250px;
}

.bottomimage-3 {
  height: 100px;
}

.bottomimage-5 {
  height: 175px;
}

.bottomimage-6 {
  height: 175px;
}

.oldporttext {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
  border-color: rgb(239, 244, 235);
  border-style: solid;
  font-weight: 700;


}

/* use flexbox for footer as well is recommended by mentor */

.footer {
  /* font-family: acumin-pro, system-ui, sans-serif; */
  margin: 0;
  display: flex;
  font-size: 14px;
  /* background-color: #F2F2F2; */
  background-color: #F2F2F2;
  align-items: start;
  max-width: 1500px;
  margin: 0 auto;

}


.footer>* {
  flex: 1 100%;
}

.nav__title {
  font-weight: 800;
  font-size: 15px;
  margin-left: 2%;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  margin-left: -3%;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  margin-left: 5%;
  flex-direction: row;
  /* max-width: 1000; */
}

.footer__nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 1;
  column-gap: 1.25em;
}



@media screen and (max-width: 992px) {
  .footer__nav>* {
    flex: 1;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
    display: flex;
    flex-direction: column;
  }

  .nav__ul a {
    color: #010101;
  }

}

@media (max-width: 992px) {
  .nav__ul a {
    color: #0b0a0a;
    font-size: larger;
    font-weight: 400;
  }

  

  body{
    margin:auto;
    /* padding: auto; */
    padding-left: 0%;
    padding-right: 0%;
  }

  .nav__title {
    /* margin-top: 20px; */
    color: #0b0a0a;
    font-size: 25px;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-weight: 500;
    line-height: 2em;
    /* padding-bottom: none; */
    /* padding-left: none; */
    margin-left: 5%;
    margin-top: 9%;
  }

  .footer li {
    line-height: 2em;
    font-size: 17px;
    /* margin-left: 1%; */
    /* margin-right: 30%; */
    font-weight: 50;
    /* color: #999; */
    /* padding: 0;   */
    /* color: rgb(117, 113, 113); */
  }

  .FirstGridContainer {
    flex-direction: column;
    height: max-content;
    padding-bottom: 20px;
    width: 95%;
    background: #FFFFFF;
  }

  .ThirdGridContainer {
    flex-direction: column;
    height: max-content;
    margin-left: 2px;
  }

  .firstandsecondtogether {
    flex-direction: column-reverse;
    height: max-content;
    /* margin-left: 5px; */
    padding-bottom: 20px;
    padding: 0;
    margin: 0;
  }

  /* .FilterSearchContainer-1{
      padding: 10px;
    } */

  .Form-1 {
    row-gap: 5px;
  }

  .oldporttext {
    width: 91%;
  }

  .Logoandnavbar {
    display: flex;
    flex-direction: column;
  }

  .logo {
    /* margin: 0 auto;
        padding: 0;
        width: 90px;
        height: 60px; */
    max-width: 100%;
    /* height: auto; */
    margin: auto;
    /* image-resolution: 1000; */
  }

  .AccomLink {
    font-size: large;
  }

  /* .AccomLink:hover{
    color: blue;
  } */

  .ActiLink {
    font-size: large;
  }

  nav ul li:hover {
    border-bottom: 4px solid #0065FC;
    border-width: 3px;
    /* border-top: none; */
    /* padding: 10px; */
    display: flex;
    height: 100%;
    /* color: blue; */
    /* padding-top: 10px; */
    border-top: none;

    /* background-color: #0065FC; */
    .AccomLink {
      color: #0065FC;

    }

    .ActiLink {
      color: #0065FC;

    }

  }

  .AccomLink:hover {
    color: #0065FC;
    border-bottom: 4px solid #505152;

  }

  .ActiLink:hover {
    color: #0065FC;
    border-bottom: 4px solid #505152;

  }

  /* 
.hover-element:hover ~ .AccomLink{

  color: blue;

} */

  /* a:hover{
            color: blue;

           } */

  nav ul li {
    /* flex: 1; */
    display: flex;
    text-align: center;
    margin: 0;
    font-size: xx-small;
    /* margin-top: none; */
    margin-top: -20px;
    border-bottom: 4px solid #DFE3E7;
    border-width: 3px;
  }

  nav ul {
    display: flex;
    margin: 0;
    /* padding: none; */
    padding-top: 10px;
  }


  nav ul li a {
    font-size: 25px;
    color: black;
    /* padding: none; */
  }

  .oldporttext {
    font-size: 20px;
    /* width: 388px; */
  }

  .bottomimage-1,
  .bottomimage-2,
  .bottomimage-3,
  .bottomimage-4,
  .bottomimage-5,
  .bottomimage-6 {
    height: 150px;
    object-fit: cover;
  }



  .search-input2 {
    color: black;
    /* font-weight: 600; */
    /* font-weight:500; */
    /* margin-left: 10px; */
    font-size: small;
    font-weight: bold;
  }

  .FirstFlexFirstImageSet,
  .FirstFlexSecondImageSet,
  .FirstFlexThirdImageSet,
  .FirstFlexFourthImageSet,
  .FirstFlexFifthImageSet,
  .FirstFlexSixthImageSet {
    background-color: white;
    border-style: groove;
    border-color: rgb(244, 232, 232);
    border-width: 1px;
    border-radius: 20px;
    padding: 5px;
    width: 300px;
    height: 200px;
  }

  .FirstGridImage-1,
  .FirstGridImage-2,
  .FirstGridImage-3,
  x .FirstGridImage-4,
  .FirstGridImage-5,
  .FirstGridImage-6 {
    width: 400px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }

  .accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* padding-left: 4%; */
  }

  .firstgridtoptext2 {

    text-align: left;
  }



  .FirstGridContainer {
    /* height: 210px; */
    background-color: white;
  }




  .secondgrid-solidstar {
    position: relative;
    margin-left:20%;
    margin-top: 5%;
  }

  .heading1 {
    display: flex;
    font-size: small;
    width: 100%;
    /* padding-top: 15%; */
    font-weight: 700;
    /* font-size: 200; */
    /* padding-left: 12%; */
  }

  .heading2 {
    /* padding-bottom: 12%; */
    /* padding-left: 10%; */
    /* padding-top: 8%; */
    /* margin-left: 8%; */
    padding-bottom: 3%;
  }



  /* .fa-solid {
    /* color: rgba(30, 56, 227, 0.821); */
  /* color: #0065FC; */
  /* } */


  /* irstGrid-heading1,
  .FirstGrid-heading2 {
    padding-left: 2%;

  } */

  .fa-solid {
    padding-left: 7px;
    /* font-size: small; */
  }



  .fa-location-dot {
    /* padding-top: 30px; */
    /* padding-left: 10px; */
    /* padding-bottom: 30px; */
    background-color: #F2F2F2;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    width: 40px;
    height: 1px;
    /* padding-left: 20px; */
    border-color: rgb(239, 244, 235);
    /* border: 0.5px solid #c4a7a7; */
    /* padding-left: none; */
  }



  /* .FullviewSearchIcon{

  }

  .fa-search{
    padding: 25%;


  } */
  /* searh button is designed  */


  .mobile-button i {
    color: #ffffff;
    /* Icon color */
    font-size: 18px;

  }

  .FullviewSearchIcon {
    display: none;
  }

  .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #135ae7;
    /* Button background color */
    border: none;
    /* border-top-right-radius: 20%;
    border-bottom-right-radius: 20%; */
    border-radius: 30%;
    /* border-top-left-radius: 5%; */
    /* border-bottom-left-radius: 5%; */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    color: white;
  }

  .FilterTitle {
    margin-bottom: 15px;
    font-size: large;
    padding-top: 10px;
    font-weight: bold;
    margin-left: 20px;
  }
  

  .filter-area-1 {
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
    flex-direction: row;
 }
 .filter-area-2{
  margin-top: 15px;
  display: flex;
  gap: 15px;
  flex-direction: column;
 }

  .search-input-1 {
    width: 150px;
    height: 45px;
  }

  i.map-dot {
    color: black;
    /* height: 20px; */
    align-items: center;
    padding-left: 25px;
    /* padding-right: 15px; */
  }

/* .FilterSearchContainer-1{

  order:2;
} */
/* .firstfilter{
  order: 2;;
} */

  .FilterIconCircleButton {
    height: 60px;
    width: 60px;
    border-radius: 55%;
    /* background-color: rgb(131, 188, 246); */
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: -20px; */
  }

  .FilterSearchContainer-1 {
    width: 160px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border-top-right-radius: 28px;
    /* margin-left: -20px; */
    background: white;
    border: 1px solid #D9D9D9;
    /* padding-left: -50px; */
  }



  .FilterSearchContainer-2 {
    width: 215px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border-top-right-radius: 28px;
    /* margin-left: -20px; */
    background: white;
    border: 1px solid #D9D9D9;
    /* padding-left: -50px; */
  }

  .FilterSearchContainer-3 {
    width: 165px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border-top-right-radius: 28px;
    /* margin-left: -20px; */
    background: white;
    border: 1px solid #D9D9D9;
    /* padding-left: -50px; */
    /* order:2; */
  }



  .FilterSearchContainer-4 {
    width: 195px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border-top-right-radius: 28px;
    /* margin-left: -20px; */
    background: white;
    border: 1px solid #D9D9D9;
    /* padding-left: -50px; */
    /* order: 1; */
  }

  .info-icon-frame {
    height: 20px;
    width: 30px;
    border-radius: 55%;
    /* background-color: rgb(131, 188, 246); */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: -20px; */
    border: 0.5px solid #D9D9D9;
    /* margin-right: 1opx; */
    /* padding-left: none; */
  }

  .Morethan500Text {
    color: #5a5757;
    font-size: 17px;
    font-weight: 400;
    margin-left: 5px;
    /* margin-bottom: 10px; */
    margin-top: 0%;
  }

  .SearchResultsCountText {
    padding-left: 1px;
    display: flex;
    /* margin-left: 1px; */
    padding-top: 30px;
  }

  .secondgrid-toptext-and-star {

    display: flex;
    /* column-gap: 5px; */
    /* padding-right: 40px; */
    /* margin-right: 40px; */
    margin-top: 10%;
    margin-left: 8%;
  }

  

  .SecondGridContainer {
    /* background-color: rgba(90, 96, 96, 0.11);*/
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
    /* margin-left: 15px; */
    height: 670px;
    /* width: auto; */
    /* padding: 20px; */
    /* row-gap: auto; */
    /* column-gap: auto; */
  }
  



  .SecondFlexFirstSet,
  .SecondFlexSecondSet,
  .SecondFlexThirdSet {
    display: flex;
    background-color: white;
    border-style: groove;
    border-color: white;
    border-width: 1px;
    border-radius: 19px;
    /* margin-left: 2px; */
    /* margin-top: 20px; */
    width: 300px;
    /* height: 155px; */
    /* margin-right: 30px; */
    margin-left: 5%;
  }

  .SecondFlexRowOneImage-1,
  .SecondFlexRowOneImage-2,
  .SecondFlexRowOneImage-3 {
    display: flex;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 140px;
    height: 130px;
    /* padding: 1%; */
    object-fit: cover;
  }


  .SecondGridStars {
    padding: 8px;
  }

  .content-1 {
    padding-top: 10%;
    font-size: 22px;
    color: black;
    font-weight: 600;
    padding-left: 8%;
    padding-bottom: 5%;
  }

  .content-2 {
    margin-bottom: 30px;
    padding-left: 2%;
  }

  .ResultsHeading-3 {
    font-size: x-large;
    padding-left: 3%;
    padding-top: 3%;
    font-weight: 600;
  }

  .firstgridtoptext {

    font-size: 20px;
    padding-left: 3%;
    padding-top: 9%;
    font-weight: 600;
  }

  .Secondgridtoptext {
    font-size: x-large;
    display: contents;
    /* padding-top: 8%; */
    /* padding-left: 20px; */
    /* font-weight: 700; */
    /* padding-right: 175px; */
    text-wrap: nowrap;
    /* padding-left: 3; */
    /* flex-wrap: nowrap; */
    
  }


  .Hrefclass-1{
    order:1;
  }
  .Hrefclass-2{
    order:3;
  }
  .Hrefclass-3{
    order:2;
  }
  .Hrefclass-4{
    order:4;
  }

}