/* Top navigation code to organize navigation items*/

/* work on span tag price "bold price" */



* {
  font-family: "Raleway";
  /* font-weight: 300; */
  font-style: normal;
  text-decoration: none;
}

body {
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 10px;
  height: 55px;
  margin-left: 3%;
  padding-bottom: 20px;
}

.logo-and-navigation-bar-together-area {
  /* display: flex;
  flex-direction: column; */
  padding-top: 20px;
}


nav ul {
  list-style-type: none;
  /* margin-right: 4%; */
  /* margin-left: 0px; */
}

nav ul li {
  display: inline-block;
  /* padding-top: 0%; */
}

nav ul li :hover {
  border-top: 1px solid #0065FC;
  /* row-gap: 30px; */
  border-width: 3px;
  color: #0065FC;
  padding-top: 33px;
  /* text-decoration: none; */
}


nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin: 40px;
  padding: 10px;
  /* display: flex; */
}

/* Top heading style that is Find a place for your dream vacation */


.info-icon-and-morethan-text-together {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}

.h1-find-a-place-for-your-dream-vacation-text {
  font-size: 25px;
  color: black;
  font-weight: 600;
  padding-left: 4%;
  padding-top: 10px;
}

/* Sub heading style that is Downtown or in nature */
.content-2 {
  color: #5a5757;
  font-size: large;
  font-weight: 300;
  margin-left: 4%;
}

/* Filter section form organized  */
#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3.5%;
  padding-bottom: 10px;
}


/* Search icon before search box organized with different style */
/* i = tag. To be more specific */

i.search-area-map-dot-icon {
  color: black;
}


.fa-location-dot {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  background-color: #F2F2F2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40px;
  /* height:1px; */
  /* padding-right: -50px; */
}

.search-area-search-button {
  width: 100px;
  height: 63px;
  background-color: #0065FC;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 0.5px solid #9fc5f3;
  font-size: large;
  font-weight: bold;
  /* padding-right: 15px; */
}



/* hide search icon in regular view */
.search-area-magnify-glass-icon {
  display: none;
}


.filter-area-main-navigation {
  display: flex;
  /* padding-left: 4%; */
  /* margin-left: -1%; */

}

/* Four filter icon circle style buttons style  */
.FilterIconCircleButton {
  height: 60px;
  width: 60px;
  border-radius: 55%;
  background-color: #DEEBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: -20px;
}

/* 4 different filters organized into a form so added some style */

.filter-area-heading-text {
  font-size: large;
  padding-top: 16px;
  font-weight: bold;
  /* margin-left: 74%; */
  padding-left: 60px;
}


.filter-area-sub-hierarchy {
  display: flex;
  gap: 40px;
  margin-left: 30px;
  margin-right: 20px;
  flex-wrap: wrap;
}


.blank-hyperlink-item-1 {
  order: 1;
}

.info-icon-frame {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #D9D9D9;

}

i.info-icon {
  font-size: small;
  background-color: white;
  color: #0065FC;
  padding: 15%;

}

.filter-area-top-hierarchy {
  padding-top: 15px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 95%; */
}


/* Top search box organized with style  */

input[type=text] {
  font-size: 20px;
  height: 55px;
  width: 250px;
  /* padding: 20px; */
  /* margin-top: 10px; */
  border-radius: px;
  border-color: #F2F2F2;
  border-width: 3px;
  border-style: solid;
  margin: -10px;
}



/* Added style when move hover for both search and text boxes */
input[type="text"]:hover {
  border: 1px solid black;
}


input[type="search"]:hover {
  border: 1px solid black;
}

/* Four filter search boxes added some style  */
input[type=search] {
  margin-top: 10px;
  font-size: 16px;
  color: rgba(9, 8, 8, 0.802);
  border: #0b0a0a;
  background: transparent;
  padding-left: 15px;
  height: 30px;
  width: 135px;
  border-radius: 28px;
  align-items: center;
}


/* place holder text style for top search bar placeholder text */
.input-box-with-text-marseille-france::placeholder {
  color: black;
  font-weight: 700;
  font-size: 18px;
  padding-left: 30px;
}

.fa-magnifying-glass {
  display: none;
}


/* place holder text style for bottom search bar placeholder text*/

.filter-area-same-class-name-all-4-filter-text-boxes {
  color: black;
  font-weight: 500;
  font-size: large;
  font-weight: 700;

}

/* there are 4 filter sections and organized their secitons into one div so some style applied  */

.FilterSearchContainer-1:hover {
  background-color: #F2F2F2;
}

.FilterSearchContainer-2:hover {
  background-color: #F2F2F2;
}

.FilterSearchContainer-3:hover {
  background-color: #F2F2F2;
}

.FilterSearchContainer-4:hover {
  background-color: #F2F2F2;
}

.FilterSearchContainer-1 {
  width: 160px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 28px;

  background: white;
  border: 3px solid #D9D9D9;
}

.FilterSearchContainer-2 {
  width: 215px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  border-top-right-radius: 28px;
  background: white;
  border: 3px solid #D9D9D9;
}

.FilterSearchContainer-3 {
  width: 165px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  border-top-right-radius: 28px;
  background: white;
  border: 3px solid #D9D9D9;
}

.FilterSearchContainer-4 {
  width: 195px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  border-top-right-radius: 28px;
  background: white;
  border: 3px solid #D9D9D9;
}

.SearchResultsCountText {
  padding-left: 12px;
  display: flex;
  margin-left: 3%;
  padding-top: 25px;
  gap: 10px
}



.Morethan500Text {
  color: #5a5757;
  font-size: large;
  font-weight: 400;
  margin-left: 10px;
  width: 450px;
  /* margin-bottom: 1px; */
  display: flex;
  /* padding-bottom: -200px; */

}


.heading-accommodations-in-marseille {
  font-size: 28px;
  padding-top: 32px;
  font-weight: 700;
  padding-bottom: 2%;
  padding-left: 5%;
}

.text-show-more {
  font-size: large;
  padding-top: 30px;
  font-weight: 800;
  padding-left: 5%;
  color: black
}

.ResultsHeading-3 {
  font-size: x-large;
  padding-left: 4%;
  padding-top: 3%;
  font-weight: 600;
}

.price {
  font-weight: bold;
}

.accommodation-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 5%;
}

.accommodations-in-marseille-flex {
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-left: 7px;
  width: 950px;
}

/* .firstgrid-cardstextarea{


} */

.accommodations-in-marseille-flex-first-image-set,
.accommodations-in-marseille-flex-second-row-fourth-image-set,
.accommodations-in-marseille-flex-second-image-set,
.accommodations-in-marseille-flex-second-row-fifth-image-set,
.accommodations-in-marseille-flex-third-image-set,
.accommodations-in-marseille-flex-second-row-sixth-image-set {
  background-color: white;
  border-style: groove;
  border-color: rgb(244, 232, 232);
  border-width: 1px;
  border-radius: 20px;
  padding: 10px;
  /* width: 250px; */
  height: 200px;
  /* gap:-10px; */
}

.Accommodations-auberge-la-cannebiere-image,
.Accommodations-hotel-de-la-mer-image,
.Accommodations-Hotel-du-port-image,
.Accommodations-auberge-le-panier-image,
.Accommodations-les-mouettes-hotel-image,
.Accommodations-hotel-chez-amina-image {
  width: 250px;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}


/* first grid href's design  */
.blank-hyperlink-item-1,
.blank-hyperlink-item-2,
.blank-hyperlink-item-3,
.blank-hyperlink-item-4 {
  color: black;

}

.blank-hyperlink-item-1:hover {
  text-decoration: none;
  color: black;
}

.blank-hyperlink-item-2:hover {
  text-decoration: none;
  color: black;
}

.blank-hyperlink-item-3:hover {
  text-decoration: none;
  color: black;
}

.blank-hyperlink-item-4:hover {
  text-decoration: none;
  color: black;
}




/* Flex-2 code */

.Secondgridtoptext {
  font-size: 25px;
  width: 400px;
  margin-left: 10px;
}

.secondgrid-toptext-and-star {
  display: flex;
  /* margin-right: 20px; */
  margin-top: 9%;
  margin-left: 5%;
  flex-direction: row;
  width: 350px
}

.secondgrid-solidstar {
  /* position: relative; */
  /* margin-left: 15%; */
  margin-top: 8%;
}


.fa-solid {
  color: #0065FC;

}

.fa-regular {
  background: #D9D9D9;
}

.SecondGridContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-left: 20px;
  width: 420px;
  /* width: auto; */
  height: auto;
  /* width:50%; */
}


/* .SecondFlexRowOne {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */


.SecondFlexFirstSet,
.SecondFlexSecondSet,
.SecondFlexThirdSet {
  display: flex;
  background-color: white;
  border-style: groove;
  border-color: white;
  border-width: 1px;
  /* border-radius: 19px; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 18px;
  margin-top: 45px;
  width: 360px;
  height: 140px;
  /* gap: 10%; */
}


.most-popular-all-section-first-row-text {
  /* padding-top: 8%; */
  font-weight: 600;
  padding-left: 25px;
  /* font-size: 80%; */
  /* padding-right: 20px; */
  /* text-wrap: nowrap; */
  width: auto;
}

.most-popular-all-section-second-row-text{
  display: flex;
  font-size: small;
  padding-top: 3%;
  padding-left: 25px;
}


.SecondGridStars {
  padding-top: 3%;
  padding-left: 25px;
}

.SecondFlexFirstSet {
  margin-top: -5%;
}

.most-popular-section-morning-sun-hotel-image,
.most-popular-section-au-coeur-de-image,
.most-popular-tout-bleu-image {
  display: flex;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 120px;
  /* height: auto; */
  height: 125px;
  /* padding: 4%; */
  padding-top: 2%;
  padding-left: 2%;
}



.heading1-accommodation-cards {
  font-weight: 600;
  font-size: large;
  padding-left: 3%;
  margin: 0;
  color: black
}

.heading2-accommodation-cards {
  font-weight: 300;
  font-size: medium;
  padding-left: 3%;
  color: black;
}



.accommodation-cards-starts-division {
  padding-left: 3%;
  /* width: 40%; */
}



/* firstandsecond together code */
.accommodations-and-mostpopular-grids-together-area {
  display: flex;
  /* padding-top: 1%; */
  padding-left: 3%;
  padding-right: 3%;
}



.activities-in-marseille-flex {
  display: flex;
  max-height: none;
  width: 95%;
  border-radius: 15px;
  /* margin: auto; */
  padding-bottom: 2%;
  gap: 10px;
  margin-left: 3%;
}



.ColumnOne,
.ColumnTwo,
.ColumnThree,
.ColumnFour {
  padding-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-color: #999;
  height: max-content;
}



.ColumnTwo,
.ColumnFour {
  display: flex;
  flex-direction: column;
}

.bottomimage-1,
.bottomimage-2,
.bottomimage-3,
.bottomimage-4,
.bottomimage-5,
.bottomimage-6 {
  display: flex;
  width: 95%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 410px;
  /* object-fit: cover; */
  margin-left: 4%;
  /* margin-top: 0%; */
  margin-bottom: -5%;
}


.bottomimage-1 {
  height: 415px;
}

.bottomimage-2 {
  height: 215px;
}

.bottomimage-3 {
  height: 115px;
}

.bottomimage-5 {
  height: 165px;
}

.bottomimage-6 {
  height: 165px;
}

.oldporttext {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: rgb(239, 244, 235);
  border-style: solid;
  font-weight: 600;
  font-size: 18px;
  width: 89.5%;
  height: 40px;
  padding-left: 15px;
  margin-left: 13px;
  color: black;


}

/* use flexbox for footer as well is recommended by mentor */

.footer {
  /* font-family: acumin-pro, system-ui, sans-serif; */
  margin: 0;
  display: flex;
  font-size: 14px;
  background-color: #F2F2F2;
  align-items: start;
  max-width: 1500px;
  margin: 0 auto;

}


.footer>* {
  flex: 1 100%;
}

.nav__title {
  font-weight: 800;
  font-size: 15px;
  /* margin-left: 2%; */
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  /* margin-left: -3%; */
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  margin-left: 5%;
  flex-direction: row;
}

.footer__nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: black;
}

.nav__ul--extra {
  column-count: 1;
  column-gap: 1.25em;
}



@media screen and (max-width: 768px) {
  .footer__nav>* {
    flex: 1;
    /* ::-webkit-scrollbar { display: none; } */
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
    display: flex;
    flex-direction: column;
  }

  .nav__ul a {
    color: #010101;
    padding-left: 18px;
  }

  /* }

@media (max-width: 992px) { */
  .nav__ul a {
    color: #0b0a0a;
    font-size: larger;
    font-weight: 400;

  }



  body {
    margin: auto;
    padding-left: 0%;
    padding-right: 0%;
  }

  .nav__title {
    color: #0b0a0a;
    font-size: 25px;
    font-weight: 500;
    line-height: 2em;
    margin-left: 5%;
    margin-top: 9%;
  }

  .footer li {
    line-height: 2em;
    font-size: 17px;
    font-weight: 50;

  }

  .accommodations-in-marseille-flex {
    flex-direction: column;
    height: max-content;
    padding-bottom: 20px;
    /* width: auto; */
    /* height: auto; */
    background: #FFFFFF;
    width: auto
  }

  .activities-in-marseille-flex {
    flex-direction: column;
    height: max-content;
    margin-left: 2px;
  }

  .accommodations-and-mostpopular-grids-together-area {
    flex-direction: column-reverse;
    height: max-content;
    padding-bottom: 20px;
    padding: 0;
    margin: 0;
  }

  .logo-and-navigation-bar-together-area {
    display: flex;
    flex-direction: column;
  }

  .logo {
    max-width: 100%;
    margin: auto;
    /* padding-top: 10px;
    height: 55px;
    margin-left: 3%; */
    margin-bottom: -30px;
  }

  nav {
    text-align: center;
    display: flex;
  }



  nav ul li:hover {
    border-bottom: 4px solid #0065FC;
    border-width: 3px;
    display: flex;
    /* height: 100%; */
    border-top: none;
  }

  .nav-1-item-accomodation {
    font-size: large;
  }


  .nav-2-item-Activities {
    font-size: large;
  }

  .nav-1-item-accomodation:hover {
    color: #0065FC;
    border-top: none;
    text-decoration: none;
    padding-top: 0.5px;
    display: flex;

  }

  .nav-2-item-Activities:hover {
    color: #0065FC;
    border-top: none;
    text-decoration: none;
    padding-top: 0.5px;
    display: flex;
  }





  nav ul li {
    display: flex;
    font-size: xx-small;
    border-bottom: 4px solid #DFE3E7;
    border-width: 4px;
    border-top: none;
    height: 80px;
  }

  nav ul {
    display: flex;
    /* width:2000px; */
    /* margin: 0; */
    /* padding-top: 10px; */
    /* padding-left: none; */
    /* margin-left: -4%; */
    /* width:100%; */
    /* align-items: center; */
    margin-left: -50px;
    align-self: center;

  }


  nav ul li a {
    padding: 0%;


  }



  /* .oldporttext {
    /* font-size: 18px;
    width: 324px;
    margin-left: 15px;
    color: black;
    margin-top: 0%; */


  /* }  */

  .oldporttext {
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: rgb(239, 244, 235);
    border-style: solid;
    font-weight: 600;
    font-size: 18px;
    width: 90%;
    height: 40px;
    padding-left: 15px;
    margin-left: 13px;
    color: black;
  }

  .bottomimage-1,
  .bottomimage-2,
  .bottomimage-3,
  .bottomimage-4,
  .bottomimage-5,
  .bottomimage-6 {
    height: 150px;
    object-fit: cover;
  }



  .filter-area-same-class-name-all-4-filter-text-boxes {
    color: black;
    font-size: small;
    font-weight: bold;
  }

  .accommodations-in-marseille-flex-first-image-set,
  .accommodations-in-marseille-flex-second-row-fourth-image-set,
  .accommodations-in-marseille-flex-second-image-set,
  .accommodations-in-marseille-flex-second-row-fifth-image-set,
  .accommodations-in-marseille-flex-third-image-set,
  .accommodations-in-marseille-flex-second-row-sixth-image-set {
    background-color: white;
    border-style: groove;
    border-color: #ebe3e3;
    border-radius: 20px;
    border-width: 3%;
    padding: 10px;
    width: 95%;
    height: 200px;
    outline: none;
  }

  .Accommodations-auberge-la-cannebiere-image,
  .Accommodations-hotel-de-la-mer-image,
  .Accommodations-Hotel-du-port-image,
  .Accommodations-auberge-le-panier-image,
  .Accommodations-les-mouettes-hotel-image,
  .Accommodations-hotel-chez-amina-image {
    width: 305px;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }

  .accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: -50px;
    margin-left: -3%;
  }

  .text-show-more {

    padding-top: 10%;
    font-size: 18px;
    color: black;
    font-weight: 600;
    padding-left: 8%;
    padding-bottom: 5%;
  }





  .secondgrid-toptext-and-star {
    display: flex;
    margin-left: 3%;
    padding-bottom: 40px;
    width: 10%;
  }

  .secondgrid-solidstar {
    margin-left: 150px;
  }

  .most-popular-all-section-first-row-text {
    display: flex;
    font-size: small;
    width: 100%;
    padding-top: 3%;
    padding-left: 20px;
    /* font-weight: 700; */
    /* padding-right: -8%; */
  }

  .most-popular-all-section-second-row-text{
    padding-top: 5%;
    padding-left: 20px;
  }

  .SecondGridStars {
    padding-top: 3%;
    padding-left: 20px;
    width: 40x;
  }

  /* .fa-solid {
    padding-left: -7px;
  } */


  .heading2-accommodation-cards {
    /* font-weight: 300; */
    font-size: medium;
    padding-left: 3%;
    color: black;
  }







  .fa-location-dot {
    background-color: #F2F2F2;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    width: 40px;
    height: 1px;
    border-color: rgb(239, 244, 235);

  }


  .mobile-button i {
    color: #ffffff;
    font-size: 18px;
    border-radius: 30px;
    /* border-color: red; */
  }

  .search-area-search-button {
    display: none;
  }

  .fa-magnifying-glass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #135ae7;
    border: none;
    border-radius: 35%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    color: white;
    /* margin-left: -10px; */
    /* padding-right: 3px; */

  }

  .filter-area-heading-text {
    margin-bottom: 15px;
    font-size: large;
    padding-top: 10px;
    font-weight: bold;
    margin-left: -30px;
    /* margin-right: 220px; */
  }


  .filter-area-sub-hierarchy {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* .filter-area-2 {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-left: 0%;
  } */

  .input-box-with-text-marseille-france {
    width: 185px;
    height: 45px;
    margin-right: -10px;
  }

  .input-box-with-text-marseille-france::placeholder {
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding-left: 15px;
  }


  i.search-area-map-dot-icon {
    color: black;
    align-items: center;
    padding-left: 25px;
  }



  .FilterIconCircleButton {
    height: 60px;
    width: 60px;
    border-radius: 55%;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: -5px;
  }

  .FilterSearchContainer-1 {
    width: 140px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border-top-right-radius: 28px;
    background: white;
    border: 3px solid #D9D9D9;
  }



  .FilterSearchContainer-2 {
    width: 180px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border-top-right-radius: 28px;
    background: white;
    border: 3px solid #D9D9D9;
  }

  .FilterSearchContainer-3 {
    width: 150px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border-top-right-radius: 28px;
    background: white;
    border: 3px solid #D9D9D9;

  }



  .FilterSearchContainer-4 {
    width: 200px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    border-top-right-radius: 28px;
    background: white;
    border: 3px solid #D9D9D9;

  }

  .info-icon-frame {
    height: 25px;
    width: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #D9D9D9;

  }

  .Morethan500Text {
    /* color: #5a5757; */
    font-size: 17px;
    /* font-weight: 400; */
    margin-left: 5px;
    /* margin-top: 3%; */
    padding-top: 7px;
  }

  .SearchResultsCountText {
    padding-left: 5px;
    display: flex;
    margin-left: 4%;
    padding-right: 3%;
    /* padding-top: -55%; */
  }





  .SecondGridContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F2F2F2;
    border-radius: 0px;
    height: 620px;
    /* width: 390px; */
    padding-left: 0%;
    margin-left: 2%;
    width: 95%;
  }



  .SecondFlexFirstSet,
  .SecondFlexSecondSet,
  .SecondFlexThirdSet {
    display: flex;
    background-color: white;
    border-style: groove;
    border-color: F2F2F2;
    border-width: 1px;
    /* border-radius: 20px; */
    width: 95%;
    /* height:5000px */
    margin-left: 1%;
    height: 135px;
    /* padding:0%; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .most-popular-section-morning-sun-hotel-image,
  .most-popular-section-au-coeur-de-image,
  .most-popular-tout-bleu-image {
    display: flex;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    width: 130px;
    height: 120px;
    /* padding-right: -10px; */
    /* row-gap:-10px; */
    padding-left: 9px;
  }







  .h1-find-a-place-for-your-dream-vacation-text {
    /* padding-top: 10%; */
    font-size: 22px;
    color: black;
    font-weight: 600;
    padding-left: 8%;
    padding-bottom: 5%;
  }

  .content-2 {
    margin-bottom: 30px;
    padding-left: 4%;
  }

  .ResultsHeading-3 {
    font-size: x-large;
    padding-top: 0%;
    font-weight: 600;
    padding-left: 5%;
  }

  .heading-accommodations-in-marseille {

    padding-top: 10%;
    font-size: 22px;
    color: black;
    font-weight: 600;
    padding-left: 4%;
    padding-bottom: 1%;
  }

  .Secondgridtoptext {
    font-size: x-large;
    display: contents;

    text-wrap: nowrap;


  }

  .filter-area-filter-search-box-1-cash-filter {
    order: 1;
  }

  .filter-area-filter-search-box-3-heart-filter {
    order: 2;
  }

  .filter-area-filter-search-box-2-child-filter {
    order: 3;
  }

  .filter-area-filter-search-box-4-pet-filter {
    order: 4;
  }

  .filter-area-filter-search-box-3-heart-filter {
    /* width: 100%; */
    display: block;
    clear: both;
  }

  .filter-area-main-navigation {
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
  }

  .info-icon-and-morethan-text-together {
    display: flex;
    padding-top: 15px;
  }

  .most-popular-first-set-text-set {
    margin-left: 1px;
    text-wrap: wrap;
    flex-wrap: wrap;
  }


  .most-popular-second-set-text-set {
    margin-left: 1px;
    text-wrap: wrap;
    flex-wrap: wrap;
  }

  .most-popular-third-image-set-text-set {
    margin-left: 1px;
    text-wrap: wrap;
    flex-wrap: wrap;
  }


  input[type=text] {
    font-size: 20px;
    height: 55px;
    width: 210px;
    border-radius: 3px;
    border-color: #F2F2F2;
    border-width: 2px;
    border-style: solid;

  }

  .accommodation-cards-starts-division {
    margin-left: 1px;
  }

  #form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    /* padding-bottom: 25px; */
    margin-bottom: -20px;
  }



}